* {
	box-sizing: border-box;
}


html {
	/*The html covers the whole width and height of the viewport*/
	height: 100vh;
	width: 100vw;
}


body {
	/*The html covers the whole width and height of the document*/
	height: 100%;
	width: 100%;
	background-color: #00aaff;
	margin: 0;
	border-top: 1px solid #00aaff;
}


.input-field label {
	color: #FFF;
}


h1 {
	margin: 0;
}


.container {
	height: 90%;
	margin-top: 10%;
}