* {
	box-sizing: border-box;
}


html {
	/*The html covers the whole width and height of the viewport*/
	height: 100vh;
	width: 100vw;
}


body {
	/*The html covers the whole width and height of the document*/
	height: 100%;
	width: 100%;
	background-color: #00aaff;
	margin: 0;
	border-top: 1px solid #00aaff;
}


.input-field label {
	color: #FFF;
}


h1 {
	margin: 0;
}


.container-fluid {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;
}


.loginDiv {
	background-color: rgba(200,250,200,0.6);
	padding: 10px 50px;

	height: 50%;
	width: 50%;
}


.loginDiv h1 {
	color: #FFF;
}


.dashBoard {
	height: 100%;
	width: 100%;
}


.panels {
	height: 90%;
	width: 100%;

	display: flex;
}


.dashboard-header {
	background-color: #00a0a0;
	padding: 10px;
	height: 10%;
}


.username {
	color: #FFF;
	font-size: 2em;
	font-weight: bold;
}


.logout {
	float: right;
}


.messages {
	background-color: #FFF;
	height: 100%;
	width: 50%;

	display: flex;
	flex-direction: column;
}


.messageTextDiv {
	text-align: center;
	background-color: #EEE;
	height: 10%;
}


.messageArea {
	height: 78%;
	width: 100%;

	overflow: auto;
}


.inputArea {
	width: 100%;
	height: 12%;
}


.inputMessage {
	height: 100%;
	margin: 0 !important;
	font-size: 2em !important;
	padding: 5px !important;
}